<nav id="menu">
	<!--<a class="close-button">{{t "Close"}}</a>-->
	<div class="nav-wrapper">
		<!--<p class="nav-label">{{t "Menu"}}</p>-->
		<ul>
			<li class="nav-home active" role="presentation"><a href="http://www.shivamkapoor.com/blogs/technology"><i class="fas fa-home"></i>&nbsp; Home</a></li>
			<li class="nav-about" role="presentation"><a href="http://www.shivamkapoor.com" target="_blank"><i class="fas fa-address-card"></i>&nbsp; About</a></li>
			<li class="nav-github" role="presentation"><a href="https://github.com/codingkapoor" target="_blank"><i class="fab fa-github-square"></i>&nbsp; Github</a></li>
			<li class="nav-stackoverflow" role="presentation"><a href="https://stackoverflow.com/users/1879109/codingkapoor" target="_blank"><i class="fab fa-stack-overflow"></i>&nbsp; StackOverflow</a></li>
			<li class="nav-linkedin" role="presentation"><a href="https://linkedin.com/in/codingkapoor" target="_blank"><i class="fab fa-linkedin"></i>&nbsp; LinkedIn</a></li>
			<li class="nav-facebook" role="presentation"><a href="https://www.facebook.com/codingkapoor" target="_blank"><i class="fab fa-facebook-square"></i>&nbsp; Facebook</a></li>
			<li class="nav-twitter" role="presentation"><a href="https://twitter.com/codingkapoor" target="_blank"><i class="fab fa-twitter-square"></i>&nbsp; Twitter</a></li>
			<li class="nav-instagram" role="presentation"><a href="https://instagram.com/codingkapoor" target="_blank"><i class="fab fa-instagram"></i>&nbsp; Instagram</a></li>
			<li class="nav-subscribe" role="presentation"><a href="http://www.shivamkapoor.com/blogs/technology/rss" target="_blank"><i class="fas fa-rss-square"></i>&nbsp; Subscribe</a></li>
		</ul>
	</div>
</nav>
