{{!< default}}

<div class="tags-wrapper">
    <header id="post-header"{{#if feature_image}} class="has-cover" {{/if}}>
        <div class="inner">
            <nav id="navigation">
                {{#if @blog.navigation}}
                <span id="menu-button" class="nav-button">
                    <!--<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>-->
                    <a class="menu-button"><i class="fas fa-bars"></i></a>
                </span>
                {{/if}}
            </nav>
        </div>
    </header>
    <div id="canvas-container">
        <canvas id="word_cloud" class="word_cloud"></canvas>
    </div>
</div>
